body {
    font-family:  'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D0B0F4;
  }
  
  .container {
    text-align: center;
    background-color:#FFA8B6;
    color: #615b5b;
    padding: 55px;
    margin-bottom: 20px;
    border-radius: 62px;
    box-shadow: 0 2px 5px rgba(252, 250, 250, 0.962);
  }
  
  #display {
    font-size: 5em;
    margin-bottom: 1px;
  }

  .units {
    display: inline;
    font-size: -10.8rem;
    padding-left: 40px;
    padding-right: 5px;
    overflow: hidden;
  }

  .units
  {
    text-align: center;
    margin-top: -45px;
    margin-bottom: 50px;

  }
  
  button {
    padding: 10px 20px;
    font-size: 2em;
    border: black straight lines;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 51px;
    margin-bottom: 5px;
  }
  
  #start {
    background-color: #83efdd;
    color: rgb(77, 73, 73);
  }
  
  #stop {
    background-color: #f48178;
    color: rgb(77, 73, 73);;
  }
  
  #reset {
    background-color: #8cc5f3;
    color: rgb(77, 73, 73);;
  }
  

    